<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServerLink</servlet-name>
        <servlet-class>com.quest.servlets.ServerLink</servlet-class>
        <init-param>
            <param-name>password-expires</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>max-password-retries</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>client-timeout</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>multiple-login</param-name>
            <param-value>true</param-value>
        </init-param>
         <init-param>
            <param-name>external-services</param-name>
            <param-value>
             com.quest.school.InternetMessageService,
             com.quest.access.useraccess.services.PrivilegeService,
             com.quest.access.useraccess.services.UserService
            </param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-privileges</param-name>
            <param-value>message_service,user_service,privilege_service</param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-users</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerLink</servlet-name>
        <url-pattern>/web/server</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
